[Desktop Entry]
Name=Evernote Beta
Exec=/home/willkg/bin/Evernote-Beta-10.29.7-linux-ddl-beta-3186.AppImage
Comment=
Terminal=false
Icon=poi-building
Type=Application
