[Desktop Entry]
Version=1.0
Name=Firefox Nightly
Comment=Firefox Nightly
Exec=/home/willkg/mozilla/firefox-nightly/firefox %u
Icon=/home/willkg/mozilla/firefox-nightly/browser/chrome/icons/default/default128.png
Terminal=false
Type=Application
