[Desktop Entry]
Version=1.0
Name=Firefox Nightly
Comment=Firefox Nightly
Exec=/home/willkg/mozilla/firefox-nightly/firefox %u
Icon=/home/willkg/mozilla/firefox-nightly/browser/icons/mozicon128.png
Terminal=false
Type=Application
Categories=GNOME;GTK;Network;WebBrowser;
